{% extends 'base.html.twig' %}

{% block title %}Se Connecter{% endblock %}

{% block body %}
<main>
    <form method="post" class="container border p-3 mt-5 mb-5 w-25">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté {{ app.user.userIdentifier }}, <a href="{{ path('logout') }}">Déconnexion</a>
            </div>
        {% endif %}
        <h1 class="h3 mb-3 font-weight-normal">Se Connecter</h1>
        <label for="inputName">Nom Utilisateur</label>
        <input type="text" value="{{ last_username }}" name="name" id="inputName" class="form-control" autocomplete="name" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se Souvenir de moi
            </label>
        </div>

        <button class="btn center btn-primary mx-auto d-block" type="submit">
            Se Connecter
        </button>
    </form>
</main>
{% endblock %}
