
{% if app.user %}
<header>
    <div class="d-flex flex-row justify-content-between align-items-top p-3 m-3">
        <figure class="d-flex flex-column align-items-center m-0">
            <img src="{{ asset('image/Logo.jpg') }}" alt="Logo Stubborn" class="img-fluid" style="max-width: 150px;">
            <figcaption>Don't compromise on your look</figcaption>
        </figure>
        <nav>
            <ul class="nav">
                <li class="nav-item">
                    <a href="{{path('home')}}" class="nav-link {% if app.request.attributes.get('_route') == 'home' %}fw-bold border-bottom border-3 border-primary{% endif %}">
                        Acceuil
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{path('products.index')}}" class="nav-link {% if app.request.attributes.get('_route') == 'products.index' %}fw-bold border-bottom border-3 border-primary{% endif %}">
                        Boutique
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{path('cart.index')}}" class="nav-link {% if app.request.attributes.get('_route') == 'cart.index' %}fw-bold border-bottom border-3 border-primary{% endif %}">
                        Panier
                    </a>
                </li>
                  <li class="nav-item">
                    <a href="{{ path('logout') }}" class="nav-link {% if app.request.attributes.get('_route') == 'logout' %}fw-bold border-bottom border-3 border-primary{% endif %}">
                        Déconnexion
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
{% else %}
<header>
    <div class="d-flex flex-row justify-content-between align-items-top p-3 m-3">
        <figure class="d-flex flex-column align-items-center m-0">
            <img src="{{ asset('image/Logo.jpg') }}" alt="Logo Stubborn" class="img-fluid" style="max-width: 150px;">
            <figcaption>Don't compromise on your look</figcaption>
        </figure>
        <nav>
            <ul class="nav">
                <li class="nav-item ">
                    <a href="{{path('home')}}" class="nav-link {% if app.request.attributes.get('_route') == 'home' %}fw-bold border-bottom border-3 border-primary{% endif %}">
                        Acceuil
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{path('register')}}" class="nav-link {% if app.request.attributes.get('_route') == 'register' %}fw-bold border-bottom border-3 border-primary{% endif %}">
                        S'inscrire
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{path('login')}}" class="nav-link {% if app.request.attributes.get('_route') == 'login' %}fw-bold border-bottom border-3 border-primary{% endif %}">
                        Se connecter
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
{% endif %}