<div class="card w-25 flex-column align-items-center">
    <img src="{{ vich_uploader_asset(sweatshirt, 'imageFile') }}" alt="Image Sweatshirt {{sweatshirt.name}}">
    <div class="d-flex flex-column align-items-center">
        <div class="card-body text-center">
            <h2 class="card-title">{{sweatshirt.name}}</h2>
            <span>{{sweatshirt.price}}</span>
        </div>
        <a href="{{ path('product.show', {'id': sweatshirt.id}) }}" class="btn btn-primary">Voir</a>
    </div>
</div>